<!DOCTYPE html>
<!--[if IE 7]>         <html class="o-useragent-ie7 o-hoverable-on"> <![endif]-->
<!--[if IE 8]>         <html class="o-useragent-ie8 o-hoverable-on"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="o-hoverable-on"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Beacon dashboard</title>
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
	<script src="//polyfill.webservices.ft.com/v1/polyfill.min.js?features=default"></script>
	<link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-techdocs@^4.0.4,o-fonts@^1.6.7,o-ft-icons@^2.3.6,o-table@^1.7.2,o-grid@^3.1.6,o-chat@^2.0.4,o-aside-panel@^1.3.2" />
	<link rel="stylesheet" href="{{#hashedAsset}}main.css{{/hashedAsset}}"/>
</head>
<body class="o-techdocs o-hoverable-on">

<header data-o-component="o-header" class="o-header">
	<div class="o-header__container">
		<div class="o-header__inner">
			<div class="o-header__primary">
				<div class="o-header__primary__left">
					<a class="o-header__logo o-header__logo--ft" href="http://www.ft.com">
						<abbr title="Financial Times">FT</abbr>
						<h1 class="o-header__title">Beacon dashboard</h1>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Navigation menu and main content -->
<div class="o-techdocs-layout">

	<!-- Navigation - optional, omit for single page docs.  o-techdocs-sidebar container allows an in-page navigation list to be appended after the site navigation -->
	<div class="o-techdocs-sidebar">
		<nav class="o-hierarchical-nav" data-o-component="o-hierarchical-nav" data-o-hierarchical-nav-orientiation="vertical">
			<ul class="o-techdocs-nav" data-o-hierarchical-nav-level="1">
				<li data-nav-name="progress"  class="o-hierarchical-nav__parent">
					<a>Progress <i></i></a>
					<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
						<li><a href="/progress/2015-06-23">week 25</a></li>
						<li><a href="/progress/2015-06-16">week 24</a></li>
					</ul>
				</li>
				<li data-nav-name="uniques" class="o-hierarchical-nav__parent">
					<a>Uniques <i></i></a>
					<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
						<li><a href="/graph/uniques">Overview</a></li>
						<li><a href="/graph/uniques/timeline">Trend</a></li>
						<li><a href="/graph/uniques/by-page">By page type</a></li>
						<li><a href="/graph/uniques/by-geo">Geographically</a></li>
						<li><a href="/graph/uniques/by-device">By device</a></li>
					</ul>
				</li>
				<li data-nav-name="addiction" class="o-hierarchical-nav__parent">
					<a>Addiction <i></i></a>
					<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
						<li><a href="/graph/addiction">Daily</a></li>
						<li><a href="/graph/addiction-weekly">Weekly</a></li>
					</ul>
				</li>
				<li data-nav-name="ab" class="o-hierarchical-nav__parent">
					<a>AB testing <i></i></a>
					<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
						<li><a href="/graph/ab/aa">AA</a></li>
						<li><a href="/graph/ab/homepage-promo">Homepage promo</a></li>
						<li><a href="/graph/ab/engaged-follow">Engaged follow</a></li>
					</ul>
				</li>
				<li data-nav-name="opt-in">
					<a href="/graph/opt-in">Opt-ins</a>
				</li>
				<li data-nav-name="active-usage" class="o-hierarchical-nav__parent">
					<a>Active usage <i></i></a>
					<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
						<li><a href="/graph/active-usage?feature=globalNavigation">globalNavigation</a></li>
						<li><a href="/graph/active-usage?feature=homePageLoadMore">homePageLoadMore</a></li>
						<li><a href="/graph/active-usage?feature=marketDataAPI">marketDataAPI</a></li>
						<li><a href="/graph/active-usage?feature=articleComments">articleComments</a></li>
						<li><a href="/graph/active-usage?feature=articleRelatedContent">articleRelatedContent</a></li>
						<li><a href="/graph/active-usage?feature=articleTOC">articleTOC</a></li>
						<li><a href="/graph/active-usage?feature=dynamicTertiaryNav">dynamicTertiaryNav</a></li>
						<li><a href="/graph/active-usage?feature=capiV2LinkedDataOrganisationHeader">capiV2LinkedDataOrganisationHeader</a></li>
						<li><a href="/graph/active-usage?feature=follow">follow</a></li>
						<li><a href="/graph/active-usage?feature=homePageMyFTPanel">homePageMyFTPanel</a></li>
						<li><a href="/graph/active-usage?feature=homePageMyPageFeed">homePageMyPageFeed</a></li>
						<li><a href="/graph/active-usage?feature=myPageTopicSuggestions">myPageTopicSuggestions</a></li>
						<li><a href="/graph/active-usage?feature=pagination">pagination</a></li>
						<li><a href="/graph/active-usage?feature=saveForLater">saveForLater</a></li>
						<li><a href="/graph/active-usage?feature=search">search</a></li>
						<li><a href="/graph/active-usage?feature=myFTReadingListOnArticle">myFTReadingListOnArticle</a></li>
					</ul>
				</li>
				<li data-nav-name="flow" class="o-hierarchical-nav__parent">
					<a>Flow <i></i></a>
					<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
						<li><a href="/graph/flow?dashboard=Galleries">Galleries</a></li>
						<li><a href="/graph/flow?dashboard=AllMyFTNotifications">MyFT Aggregate</a></li>
						<li><a href="/graph/flow?dashboard=MyFT">MyFT Page</a></li>
						<li><a href="/graph/flow?dashboard=MyPageFeed">MyPageFeed</a></li>
						<li><a href="/graph/flow?dashboard=MyFTEmail">MyFT Emails</a></li>
						<li><a href="/graph/flow?dashboard=MyFTRSS">MyFT RSS Feeds</a></li>
					</ul>
				</li>
				<li data-nav-name="labs" class="o-hierarchical-nav__parent">
					<a>Labs <i></i></a>
					<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
						<li><a href="https://spoor-sqs-ui.herokuapp.com">Real-time stream</a></li>
						<li><a href="https://spoor-sqs-ui.herokuapp.com/map">Real-time traffic map</a></li>
					</ul>
				</li>
				<li data-nav-name="searchterms">
					<a href="/graph/searchterms">Most searched-for terms</a>
				</li>
				<li data-nav-name="navigation">
					<a href="/graph/navigation">Navigation</a>
				</li>
				<li data-nav-name="labs" class="o-hierarchical-nav__parent">
					<a>Frequency/Recency <i></i></a>
					<ul data-o-hierarchical-nav-level="2" class="o-techdocs-nav o-techdocs-nav--sub">
						<li><a href="/graph/frequency-recency">Frequency/Recency</a></li>
						<li><a href="/graph/myft">How are people using myFT?</a></li>
					</ul>
				<li data-nav-name="dead-letter-office">
					<a href="/graph/dead-letter-office">Dead letter office</a>
				</li>
				<li data-nav-name="meta-beacon">
					<a href="/graph/meta-beacon">Meta beacon</a>
				</li>
			</ul>
		</nav>
	</div>

	<!-- Main content (outer div for layout, inner for formatting) -->
	<div class="o-techdocs-main">
		<div class="o-techdocs-content">
			<aside class="o-techdocs__aside--toggleable" id="be-advised" style="display: block;">
				Be advised: This is an experimental series of dashboards for next.ft.com, not an audited set of statistics.
			</aside>

			{{{body}}}

		</div> <!-- /o-techdocs-content -->

		<div data-o-component="o-aside-panel" class="o-aside-panel">
			<div class="o-aside-panel__body">
				<!--
				Using http://blogs.ft.com/ intentionally here as it's the only way to get
				o-chat to work. http://blogs.ft.com/ redirects to ft.com anyway, so it's harmless.
				NOTE: When this can be changed to https://beacon.ft.com/, consider that
				all comments *might* need to be migrated, and that would be a super hassle. -->
				<div data-o-component="o-chat" data-o-chat-config-title="Beacon dashboard — Chat" data-o-chat-config-section="Special Reports" data-o-chat-config-url="http://blogs.ft.com/beacon-ft-com{{originalUrl}}" data-o-chat-config-articleid="{{article_id}}" data-o-chat-config-tags="moderated,beacon-dashboard,ft-internal-comment"></div>
			</div>
		</div>

	</div>

</div> <!-- /row containing nav and content -->

<footer class="o-techdocs-footer">
	<div class="o-techdocs-footer__inner">
		<p style="float:left; padding-right:2em;">
			Can this dashboard be better? Ask about usage at <a href="http://asknext.ft.com">http://asknext.ft.com</a><br />
			Where does the data live? You'll need access for <a href="https://keen.io/project/5486efb559949a0a311510fa/explorer">Keen IO</a><br />
			Fancy a chat? Join the slack channel for <a href="https://financialtimes.slack.com/messages/ft-next-usage/">#ft-next-usage</a><br />
		</p>
		<p>
			Thinking of making your own dashboard? See the developers' guide to <a href="https://financial-times.github.io/next/docs/developer-guide/measuring-next/">Measuring Next</a><br />
			Want real-time data in next.ft.com? Install <a href="https://chrome.google.com/webstore/detail/mollydobbin-tracking-tool/cmhfmieofijgphlefokpckljhgcmaneb">Mollydobbin for Chrome</a><br />
			More questions? Email <a href="mailto:next.team@ft.com">next.team@ft.com</a>
		</p>
	</div>
</footer>

<script src="//code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/keen.js/3.2.4/keen.min.js" type="text/javascript"></script>
<script src="//build.origami.ft.com/bundles/js?modules=o-techdocs@^4.0.4,o-chat@^2.0.5"></script>
</body>
</html>
